.Navbar{
  background-color: red;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 label {
  font-weight: 900;
  color: lightslategray;
  padding: 10px;
 }
 .title1{
    font-weight: 900;
padding:10px 0px 0px 5px;
color: #61dafb;
}




#sub{
  padding-top: 50px;
}
/* #sub2 {
  padding-top: 50px;
  position: relative;
  right: 285px;
} */



 .add-btn{
  padding: 0px 0px 0px 45px;
  position: relative;
  bottom:1px ;
 }

.add-btn .btn{
  font-weight: 500;
}

.download-btn{
position: relative;
padding: 0px 0px 0px 45px;
top: 20px; 
}

.download-btn .btn{
  font-weight: 500;
}


.top h1{
  text-align: center;
  padding: 20px;
  font-weight: 700;
  color: #61dafb;
}

.Emptable button{
  font-weight: bolder;
margin-right: 10px;
margin-bottom: 20px;
}

.deptTable button {
  font-weight: bolder;
  margin-right: 10px;
  margin-bottom: 20px;
  
}

.Table{
  margin: 30px;
}
 .empSelect{
  color: gray;
  border-radius: 5px;
  padding: 6px 335px 6px 10px ;
  border-color: lightgray;

}


.navbar{
  font-weight: bolder;
}

span{
  color: #61dafb;
  padding-left: 10px;
  font-weight: 600;
}

h3 {
  color: #61dafb;
}

li{
  font-weight: bolder;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
